<hr />
   		<footer>
   			<p><a href="http://www.bqcloud.net" target="_blank">Napster</a> 2013</p>
   		</footer>
   </div>

  </body>
  <script src="/javascripts/jquery-1.9.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>