<%- include header %>

<div class="hero-unit">
	<h1>欢迎来到Napblog</h1>
	<p>Napblog是一个基于Node.js的微博系统。</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登录</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</div>
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</div>
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</div>
</div>

<%- include footer %>